<div>
    <h1 class="main-heading">About us</h1>
    <h3 class="section-heading">Your one-stop shop to book a studio in Miami.</h3>
    {{!-- <p>We are bunch of coders who are super pshyched about developing creative solutions</p> --}}

<h3 class="section-heading">What is StudioHub?</h3>
<p>StudioHub is on a mission to make the creative process seamless. </p>
<p>See what is available closest to you at transparent rates.</p>
<hr>
<h3 class="banner"> Find a studio => Book your time => Create </h3>
    
    <h3 class="section-heading">Find us on social media </h3>
    <ul>
        <li>Instagram</li>
        <li>Twitter</li>
        <li>LinkedIn</li>
    </ul>

</div>