<html>
<body>
    <div>
        <h1 class="main-heading">About us</h1>
        <h3 class="section-heading">Your one-stop shop to book a studio in Miami.</h3>
        <p>StudioHub is on a mission to make the creative process seamless. </p>
        <p>See what is available closest to you at transparent rates.</p>
<hr>
        <h3 class="banner"> Find a studio => Book your time => Create </h3>

    </div>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1gNJpviJfLtZpg-8-VVF2oJmH3DBwbA5V&ehbc=2E312F" width="100%" height="600"></iframe>

<br>
<hr>
    <footer id="footer">
    <a href="/studio"><h4>Find a studio</h4></a>
    <a href="/studio/all-reviews"><h4>See Reviews<h4></a>
   </footer>

</body>
</html>