<div>
    <h1 class="main-heading">About us</h1>
    <h3 class="section-heading">Who are we</h3>
    <p>We are bunch of coders who are super pshyched about developing creative solutions</p>

<h3 class="section-heading">What is StudioHub?</h3>
<p>StudioHub is on a mission to make the process of booking a studio in Miami breeze. This app is designed to find local studios in Miami to make the booking process seamless</p>
<hr>
<h3 class="banner"> SEARCH => BOOK => CONFIRM seamlessly and all in one place; your Studio-Hub</h3>
    
    <h3 class="section-heading">Bunch of awesome coders</h3>
    <ul>
        <li>Luis</li>
        <li>Max</li>
        <li>Nick</li>
    </ul>

</div>