<html>
<body>

<h1>All Reviews</h1>


    {{#each allStudios}}
    <h3>{{this.name}}</h3>

    {{#each this.reviews}}
    <li>{{this.review}}</li>
    {{/each }}

    {{/each}}


<br>
<hr>
    
<a href="/"><h4>Back Home</h4></a>
    
</body>
</html>
