<h1>All Reviews</h1>

{{!-- <div class="grid"> --}}
    {{#each allStudios}}
    <h3>{{this.name}}</h3>

    {{#each this.reviews}}
    <li>{{this.review}}</li>
    {{/each }}

    {{/each}}
{{!-- </div> --}}