 <h1>Ampersand Studio</h1>
  <h2> name: 'Ampersand Studios',
    image: 'https://amperstudios.com/wp-content/uploads/2020/06/FILM-SET_-scaled.jpg',
    address: '31 NE 17th St, Miami, FL 33132',
    cost: '$350-3000/10hrs',
    phoneNumber: '(786) 769-0055',
    email: 'info@amperstudios.com',
    schedule: {
      'Morning' : ["8-10am", "10-12pm"],
      'Afternoon': ["12-2pm", "2-4pm"],
      'Night' : ["4-6pm", "6-8pm"],
    },
    </h2>