  <h2> name:  'Backhaus',
    image: '',
    address: '7245 NE 4th Ave, Unit 105-1, Miami, FL 33126',
    cost: '$100/hr',
    phoneNumber: '(786)-262-0104',
    email: 'contact@vacostudio.com',
    schedule: {
      'Morning' : ["8-10am", "10-12pm"],
      'Afternoon': ["12-2pm", "2-4pm"],
      'Night' : ["4-6pm", "6-8pm"],
    },
    </h2>