 <h2>name: 'CFX Studios',
    image: 'https://images.squarespace-cdn.com/content/v1/6027dd4af0e0ae0e3d2da9f5/1613225514930-ESMX2NI9M3TW62ZXEAKC/Studio-1+white+cyclorama%2C+Production+House%2C+Miami+FL%2C+CFXSTUDIOSMIAMI?format=750w',
    address: '1075 W 21st Pl, Hialeah, FL 33010',
    cost: '$300/3hrs - $1200/day',
    phoneNumber: '(877) 576-4239',
    email: 'INFO@CFX.MIAMI',
    schedule: {
      'Morning' : ["8-10am", "10-12pm"],
      'Afternoon': ["12-2pm", "2-4pm"],
      'Night' : ["4-6pm", "6-8pm"],
    },
    </h2>