<h2>Create a Studio</h2>

<form method="post" action="/studio/create-studio">

  <label>name</label>
  <input name="name" value="Cool room" />
  <label>description</label>
  <input name="description" value="A cool room" />

  <button type="submit">Create Studio</button>
</form>

<p>{{message}}</p>