  <h2> name: 'HGAB',
    image: 'https://www.hgabstudios.com/wp-content/uploads/2021/03/Studio-C-2.jpg',
    address: '46 NW 36th St Unit 2, Miami, FL 33127',
    cost: '$50-80/hr',
    phoneNumber: '(305) 200-3056',
    email: 'info@hgabstudios.com',
    schedule: {
      'Morning' : ["8-10am", "10-12pm"],
      'Afternoon': ["12-2pm", "2-4pm"],
      'Night' : ["4-6pm", "6-8pm"],
    },
    </h2>