<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    <a href="/">Home</a>
    <a href="/studio">Studios</a>
    <a href="/aboutus">About Us</a>
    </header>
    {{{body}}}
  </body>
</html>
