<html>
<body>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body> 
    <header>
        <div class="weatherbar">
           <a href="/">Home</a>
        <a href="/studio">Studios</a>
        <a href="/aboutus">About Us</a>
        <a href="/studio/all-reviews">Studio Reviews</a>
        <a href="/users/signup">Sign Up</a>
        <a href="/users/login">Log in</a>
        <a href="/users/logout">Log out</a>
        <a class="weatherwidget-io" href="https://forecast7.com/en/25d76n80d19/miami/?unit=us" data-label_1="MIAMI" data-label_2="WEATHER" data-theme="dark" data-textcolor="#ffffff" data-suncolor="#e08c03" data-raincolor="#00B7FF" >MIAMI WEATHER</a>
            <script>
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>
        </div>
    </header> 
{{{body}}} 
</body> 
</html>
