<html>
 {{!-- <head>
   <div class="title">
        <h1>Studio-Hub</h1>
    </div>
    <div class="image">
        <img src="/public/images/banner.webp" alt="Studio Hub Temporary Banner"/>
    </div> --}}
 </head>

{{!-- <body>
 <div id="page-container">
   <div id="content-wrap">
     <!-- all other page content -->
   </div>
   <hr>
   <footer id="footer">
    <a href="/studio"><h4>Find a studio</h4></a>
    <a href="/aboutus"><h4>About Us<h4></a>
   </footer>
 </div>
</body> --}}

</html>





