<h2>Create a Review</h2>

<form method="post" action="/studio/review/{{review._id}}">

  <label>Comment</label>
  <textarea name="review" ></textarea>

  <button type="submit">Post Review</button>
</form>

<p>{{message}}</p>