
    <h1>Studio Schedules</h1>
    <hr>
        {{#each studio}}
            <h3>{{this.name}}</h3>
            <img src="{{this.image}}" alt="studio pic">
    <h3>Schedule</h3>
    <p>Morning: 8-10, 10-12</p>
    <p>Afternoon: 12-2, 2-4</p>
    <p>Night: 4-6, 6-8</p>
