<h2>Sign up</h2>

<form method="post" action="/users/signup">

  <label>Full Name</label>
  <input name="name" value="" />
  <label>Email</label>
  <input name="email" value="" />
  <label>Password</label>
  <input name="password" value="" />

  <button type="submit">Create User</button>
</form>

<p>{{message}}</p>