<h2>Studios In Miami</h2>
<ol>
    <li>
        HGAB
        <ul>Address: 46 NW 36th St Unit 2, Miami, FL 33127 </ul>
        <ul>Cost: $50-80/hr </ul>
        <ul>Availability: Yes/No </ul>
        <ul>Phone Number: (305) 200-3056 </ul>
        <ul>Email: info@hgabstudios.com </ul>
        <ul>Add-ons: Yes/No </ul>
    </li>

    <li>
        Backhaus
        <ul>Address: 7245 NE 4th Ave, Unit 105-1, Miami, FL 33126 </ul>
        <ul>Cost: $100/hr </ul>
        <ul>Availability: Yes/No </ul>
        <ul>Phone Number: (786)-262-0104</ul>
        <ul>Email: contact@vacostudio.com </ul>
        <ul>Add-ons: Yes/No </ul>
    </li>

    <li>
        Vault Place
        <ul>Address: 540 NW 71st St, Miami, FL 33150</ul>
        <ul>Cost: $100-150/hr </ul>
        <ul>Availability: Yes/No </ul>
        <ul>Phone Number: N/A </ul>
        <ul>Email: info@vaultplace.com</ul>
        <ul>Add-ons: Yes/No </ul>
    </li>

    <li>
        The Warehouse Miami
        <ul>Address: 1747 West Flagler Street, Miami, Florida 33135</ul>
        <ul>Cost: $100/hr </ul>
        <ul>Availability: Yes/No </ul>
        <ul>Phone Number: N/A </ul>
        <ul>Email: info@thewarehousemia.com </ul>
        <ul>Add-ons: Yes/No </ul>
    </li>

    <li>
        Ampersand Studios
        <ul>Address: 31 NE 17th St, Miami, FL 33132 </ul>
        <ul>Cost: $350-3000/10hrs </ul>
        <ul>Availability: Yes/No </ul>
        <ul>Phone Number: (786) 769-0055 </ul>
        <ul>Email: info@amperstudios.com</ul>
        <ul>Add-ons: Yes/No</ul>
    </li>

    <li>
        CFX Studios
        <ul>Address: 1075 W 21st Pl, Hialeah, FL 33010 </ul>
        <ul>Cost: $300/3hrs - $1200/day </ul>
        <ul>Availability: Yes/No </ul>
        <ul>Phone Number: (877) 576-4239 </ul>
        <ul>Email: INFO@CFX.MIAMI </ul>
        <ul>Add-ons: Yes/No </ul>
    </li>
</ol>