<head>
    <h1>Studios In Miami</h1>
    <hr>
        {{#each studio}}
            <h3>{{this.name}}</h3>
            <img src="{{this.image}}" alt="studio pic">
        <ul>
            <li>{{this.review}}</li>
    
        </ul>
        {{/each}}
</head>