     <h2>name: 'The Warehouse Miami',
      image: 'https://img1.wsimg.com/isteam/ip/67681eb1-0240-461…h:520,cg:true,m/cr=w:1400,h:520,ax:50%25,ay:50%25',
      address: '1747 West Flagler Street, Miami, Florida 33135',
      cost: '$100/hr',
      phoneNumber: 'N/A',
      email: 'info@thewarehousemia.com',
      schedule: {
        'Morning' : ["8-10am", "10-12pm"],
        'Afternoon': ["12-2pm", "2-4pm"],
        'Night' : ["4-6pm", "6-8pm"],
      },
      </h2>