<h2>Update the Studio</h2>

<form method="post" action="/studio/{{studio._id}}/edit">
<label>Name</label>
<input name="name" value="{{studio.name}}">
<label>Description</label>
<input name="description" value="{{studio.description}}">

<button type="submit">Edit studio</button>


</form>