<h2>Update a Review</h2>

<form method="post" action="/studio/review/{{review._id}}/edit">

  <label>Comment</label>
  <textarea name="review" ></textarea>

  <button type="submit">Edit Review</button>
</form>

<p>{{message}}</p>