    <h2>name: 'Vault Place',
    image: 'https://images.squarespace-cdn.com/content/v1/604677e9bce50f097d8b5a6b/e3c2330e-d96a-4544-ac73-e73d77b11bc7/IMG_1989.jpg?format=1000w',
    address: '540 NW 71st St, Miami, FL 33150',
    cost: '$100-150/hr',
    phoneNumber: 'N/A',
    email: 'info@vaultplace.com',
    schedule: {
      'Morning' : ["8-10am", "10-12pm"],
      'Afternoon': ["12-2pm", "2-4pm"],
      'Night' : ["4-6pm", "6-8pm"],
    },
    </h2>