   <h2>name:  'Wuul Studios',
      image: 'https://static.wixstatic.com/media/36b093_d3d0538d4a5448169c92186adc484a5b~mv2.jpg/v1/fill/w_2782,h_1360,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/36b093_d3d0538d4a5448169c92186adc484a5b~mv2.jpg',
      address: '202 NE 55th Terrace Miami, FL 33137',
      cost: '$89/hr',
      phoneNumber: '(786) 491-0001',
      email: 'booking@wuulstudios.com',
      schedule: {
        'Morning' : ["8-10am", "10-12pm"],
        'Afternoon': ["12-2pm", "2-4pm"],
        'Night' : ["4-6pm", "6-8pm"],
      },
      </h2>