body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: #00B7FF;
}

header {
  /* background-color: rgb(237, 202, 146);  */
  font-size: 26px;
}

h1 {
  font-size: 70px;
  text-align: center;
}

a {
  color: #22b71d;
}

.main-heading {
  font-size: 70px;
}

img {
    height: 400px;
    width: 600px;
    align-content: stretch;
}

.section-heading {
  color: rgb(224, 140, 3);
  font-size: 32px;
}

.banner {
  background-color: rgb(224, 140, 3);
  text-align: center;
  font-size: 50px;
  color:whitesmoke;
  font-weight: 200;

}

li {
  font-size: 24px;
}
