body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-heading {
  font-size: 50px;

}

.section-heading {
  color: rgb(224, 140, 3);
  font-size: 32px;
}

.banner {
  background-color: rgb(224, 140, 3);
  text-align: center;
  font-size: 50px;
  color:whitesmoke;
  font-weight: 200;

}

li {
  font-size: 24px;

}
